# Directories
# --------------
cache/
antigen/
tmux/plugins/
nvim/spell/
nvim/bundle/
nvim/lazy-lock.json
.stamps/

# Wall paper directories
wallpapers/all-images/
wallpapers/morning/
wallpapers/afternoon/
wallpapers/night/

# Files
# --------------
zsh_histfile
.netrwhist
zsh/private.zsh
zsh/*zcompdump
